services:
  postgres:
    image: postgres:16
    container_name: nolishop
    environment:
      POSTGRES_USER: nolishop
      POSTGRES_PASSWORD: abc@123
      POSTGRES_DB: nolishop
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data:
